@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  @apply backdrop-blur-md border;
  background-color: rgb(255 255 255 / 0.1);
  border-color: rgb(255 255 255 / 0.1);
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
